.header {
  display: block;
  min-height: 64px;
  padding: 2em 0;
  text-align: center;
}

.header ul {
  list-style: none;
  padding: 0;
}

.header ul > li {
  display: inline-block;
  padding: 0 0.4rem;
  width: 4.5rem;
  height: 2rem;
  border-radius: 100%;
  background-color: var(--primary);
  font-weight: 500;
}

.header ul > li.active {
  background-color: var(--grey-3);
}

.header ul > li a {
  display: inline-block;
  transform: translate(0, 0.35rem);
}

.header ul li ~ li {
  margin-left: 1rem;
}

.header :global(a) {
  color: var(--white);
  font-size: 0.93rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
}

.header :global(a.active) {
  font-weight: 600;
}

@media (max-width: 600px) {
  .header {
    padding: 0.5em 0 2em;
  }
}
