.header {
  display: block;
  min-height: 64px;
  padding: 2rem 0 0.4rem 0;
  text-align: center;
}

.header :global(a) {
  color: var(--white);
  font-size: 0.93rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
}

.header :global(a.active) {
  font-weight: 600;
}

.navBar {
  display: flex;
}

.homeLogo {
  font-size: 2rem;
}

.navigation {
  list-style: none;
  padding: 0;
}

.navigation > li {
  display: inline-block;
  padding: 0.1rem 2.4rem;
  background-color: var(--black);
  font-weight: 500;
}

.navigation > li a {
  display: inline-block;
  transform: translateY(-0.05rem);
}

.navigation > li ~ li {
  margin-left: 1rem;
}

.navigation > li.active {
  background-color: var(--primary);
}

@media (max-width: 600px) {
  .header {
    padding: 0.5em 0 2em;
  }
}
