.header {
  display: block;
  text-align: center;
}

.header :global(a) {
  color: var(--white);
  font-size: 0.93rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
}

.header :global(a.active) {
  font-weight: 600;
}

.navBar {
  display: flex;
  position: fixed;
  top: 1rem;
  width: 100%;
}

.homeLogo {
  font-size: 2rem;
  width: 6rem;
  cursor: pointer;
}

.navigation {
  width: calc(100% - 2rem);
  list-style: none;
  padding: 0;
}

.navigation > li {
  display: inline-block;
  padding: 0 3rem;
  background-color: var(--black);
  font-weight: 500;
}

.navigation > li a {
  display: inline-block;
  transform: translateY(-0.1rem);
}

.navigation > li ~ li {
  margin-left: 3rem;
}

.navigation > li.active {
  background-color: var(--primary);
}

@media (max-width: 600px) {
  .header {
    padding: 0.5em 0 2em;
  }
}
